h1{
    color: black
}

p{
    background: yellow;
    color: blue
}

header {
  background-color: rgb(33, 79, 116);
  padding: 20px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 36px;
  margin: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

aside {
  background-color: #333;
  color: #fff;
  padding: 1em;
  width: 200px;
  float: right;
  margin-left: 1em;
}
